*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App{
  width: 800px;

}

.post{
  display: flex;
  padding: 20px;
  border: 2px solid black;
  margin: 10px;
  
}

.postItemBtn{
  display: flex;
  justify-content: flex-end;
}
.strong{
font-size: 50px;
}

